.additional-info
  .container.flex
    .additional-info__left-side
      img(src='images/aircraft.jpg' alt='')
    .additional-info__right-side
      h2 Работаем для вас
      .flex.wrap
        p 
          span 2 
          |отеля внутри аэропорта
        p 
          span 112
          |номеров
        p От 
          span 1 
          |минуты пешком от зоны посадки 
        p 
          span 70 
          |человек в команде
        p 
          span 10 
          |лет успешной работы
        p 
          span 63 000 
          |гостей в год
