@media(min-width 769px) and (max-width 1279px)
  .news-page
    &__article
      img
        width: 100%
  .news-category
    .article-news

      a
        flex-wrap: wrap;
      img
        height 250px
        margin-right: 0
        max-width: 100%
        margin-bottom: 20px
      &__info
        width: 100%
  .category
    .initial-screen
      .container
        &:before
          display: none
      .right-side
        margin-top: 105px;
        flex-wrap: wrap;
        justify-content: center;
        &:before,&:after
          display none
      .left-side
        margin: 105px 0 0 40px;
        &:after
          width 30px

      .type-room
        margin-bottom: 30px;
        .type-room__img
          width: 150px;
          height: 150px;
          margin-bottom: 7px;
          margin 0 15px

    .section-rooms
      &:nth-child(2),&:nth-child(6)
        .right-side
          order 1
        .left-side
          order 2
      .container
        justify-content: center;
        flex-wrap: wrap;
  .room
    .com-but
      display: none;
    .initial-screen
      .container
        flex-wrap: wrap;
    .room-left-side
      width: 85%;
      left: 70px;
      img
        width: 100%
    .room-right-side
      max-width: 80%;
      margin-left: 50px
  .comfort
    padding-top: 80px;
    h2
      margin-bottom: 50px
    .container
      padding: 0 20px;
      flex-wrap: wrap;
      .advantage
          margin-right: 10px;
          margin-left: 0
          p
            width: calc(100% - 80px);
          .icon
            margin-right: 10px
    .right-side
      &:before
        display none
  .all-what-need
    .container
      justify-content: center;
      flex-wrap: wrap;
    .left-side
      order 2
    .right-side
      margin-left: 0;
      order 1
  .h2-hidden
    display: block
  .h2-visible
    display none
  .room
    .initial-screen
      .container.comm
        &:after
          width: 30px
        .comment
          width: 667px
  .other-rooms .rooms .room
    margin: 0 5px;
    hr
      margin: 0 0;


  .container
    max-width 90%
  .header
    padding: 0 40px;
    max-width: 80%;
  .initial-screen
    .info
      margin: 105px 0 105px 40px;
      &:after
        width: 30px;
    .slider
      width: 100%;
      height: 560px;
      progress
        max-width: 275px;
      img
          width: 100%
          height: 560px;
          object-fit: cover;
          overflow: hidden;
  .for-who
    .container
      flex-wrap: wrap;
      padding: 0 40px 90px
      justify-content: center;
    .for-who__right-side
      width: 100%
      order 1
      height: 460px
      margin-bottom: 40px
    .for-who__left-side
      width: 100%
      order 2
      display: flex
      justify-content: space-between;
      .for-who__block
        max-width: 49%;
        &:before
          display none

  .category-of-room__left-side
   width: 100%
   .category-of-room__block
     max-width: 100%
     max-height: 500px
     margin-right 0
     margin-bottom: 20px
  .category-of-room__right-side
    display: flex
    justify-content: space-between;
    width: 100%;
    .category-of-room__block
      width: 50%
      max-width 49%
      height 245px
  .category-of-room
    .flex
      flex-wrap: wrap;
      padding: 20px

  .advantages
    .container
      padding: 0 40px
    .flex
      flex-wrap: wrap;
    .advantages__left-side
      width: 100%
    .advantages__right-side
      display: none
  .additional-info
    .container
      flex-wrap: wrap;
      padding 90px  40px 100px
      justify-content center
    .additional-info__left-side
      order 2
    .additional-info__right-side
      max-width 100%
      margin-bottom 60px
      order 1
  .map
    .container
      max-width: 100%


@media(max-width 768px)
  .category
    .initial-screen
      .container
        &:before
          display: none
      .right-side
        margin-top: 105px;
        flex-wrap: wrap;
        justify-content: center;
        &:before,&:after
          display none
      .left-side
        margin: 105px 0 0 40px;
        &:after
          width 30px

      .type-room
        margin-bottom: 30px;
        .type-room__img
          width: 150px;
          height: 150px;
          margin-bottom: 7px;
          margin 0 15px

    .section-rooms
      &:nth-child(2),&:nth-child(6)
        .right-side
          order 1
        .left-side
          order 2
      .container
        justify-content: center;
        flex-wrap: wrap;
  .room
    .com-but
      display: none;
    .initial-screen
      .container
        flex-wrap: wrap;
    .room-left-side
      left: 70px;
    .room-right-side
      margin-left: 50px
  .comfort
    padding-top: 80px;
    h2
      margin-bottom: 50px
    .container
      padding: 0 20px;
      flex-wrap: wrap;
      .advantage
          margin-right: 10px;
          margin-left: 0
          p
            width: calc(100% - 80px);
          .icon
            margin-right: 10px
    .right-side
      &:before
        display none
  .all-what-need
    .container
      flex-wrap: wrap;
    .left-side
      order 2
    .right-side
      margin-left: 0;
      order 1
  .h2-hidden
    display: block
  .h2-visible
    display none
  .room
    .initial-screen
      .container.comm
        &:after
          width: 30px
        .comment
          width: 667px
  .other-rooms .rooms .room
    margin: 0 5px;
    hr
      margin: 0 0;


  .container
    max-width 768px
  .header
    padding: 0 40px;
  .initial-screen
    .info
      margin: 105px 0 105px 40px;
      &:after
        width: 30px;
    .slider
      width: 345px;
      height: 560px;
      progress
        max-width: 275px;
      img
          width: 100%
          height: 560px;
          object-fit: cover;
          overflow: hidden;
  .for-who
    .container
      flex-wrap: wrap;
      padding: 0 40px 90px
      justify-content: center;
    .for-who__right-side
      width: 100%
      order 1
      height: 460px
      margin-bottom: 40px
    .for-who__left-side
      width: 100%
      order 2
      display: flex
      justify-content: space-between;
      .for-who__block
        max-width: 320px
        &:before
          display none

  .category-of-room__left-side
   .category-of-room__block
     max-width: 728px
     max-height: 500px
     margin-right 0
     margin-bottom: 20px
  .category-of-room__right-side
    display: flex
    justify-content: space-between;
    width: 100%;
    .category-of-room__block
      width: 354px
      height 245px
  .category-of-room
    .flex
      flex-wrap: wrap;
      padding: 20px

  .advantages
    .container
      padding: 0 40px
    .flex
      flex-wrap: wrap;
    .advantages__left-side
      width: 100%
    .advantages__right-side
      display: none
  .additional-info .container
    flex-wrap: wrap;
    padding: 90px  40px 100px
    justify-content: center;
    .additional-info__left-side
      order 2
    .additional-info__right-side
      max-width: 100%
      margin-bottom: 60px
      order 1
  .map .container
    max-width: 100%


@media(min-width 320px) and (max-width 767px)
  .news-page
    .container
      padding: 0
    &__article
      img
        width: 100%
  .news-category
    .news.container
      padding: 0
    .article-news
      width: 100%

      a
        flex-wrap: wrap;
      img
        height 250px
        margin-right: 0
        max-width: 100%
        margin-bottom: 20px
      &__info
        width: 100%
  .category
    .initial-screen
      .speedbar
        text-align: center;
      p
        margin-top: 15px;
        text-align: center;
      .container
        height max-content
        justify-content: center;
        flex-wrap: wrap;
        &:before
          display: none
      .right-side
        margin-top: 0;
        order 1
        flex-wrap: wrap;
        justify-content: center;
        &:before,&:after
          display none
      .left-side
        order 2
        margin: 0
        &:after,&:before
          display none

      .type-room
        margin-bottom: 30px;
        h4
          font-size: 16px
        .type-room__img
          width: 110px;
          border: 5px solid #fff;
          height: 110px;
          margin-bottom: 7px;
          margin 0 15px

    .section-rooms
      .characteristcs
        flex-wrap: wrap;
      &__list
        &.list--three
          position: absolute;
          width: 100%
          margin-left: 0
          .section-rooms__list-item
            margin: 64px 0 73px;

        &.list--second
          position: absolute;
          width: 100%
          margin-left: 0
          .section-rooms__list-item
            margin 40px 0 72px
        &.list--first
          width: 100%
          .section-rooms__list-item
            margin-bottom: 70px;
            &:before
              max-width: 280px
      h2
        margin: 35px 0;
        flex-wrap: wrap;
        padding-left: 50px;
        display: inline-block;
        position: relative;
        .h2-hidden
          display: inline-block;
        &:after
          display none
        &:before
          display: block;
          width: 20px;
          height: 100%;
          margin-right: 20px;
          content: '';
          position: absolute;
          left: 15px;
          background: repeating-linear-gradient(45deg,#006faf,#006faf 1px,hsla(0,0%,100%,0) 2px,hsla(0,0%,100%,0) 4px);

      &:nth-child(2),&:nth-child(6)
        .right-side
          order 1
        .left-side
          order 2
      .container
        padding: 0 20px 0;
        justify-content: center;
        flex-wrap: wrap;
        .left-side
          max-width: 100%;
          p
            margin-top: 20px;
            margin-bottom: 0

  .room
    .com-but
      display: none;
    .initial-screen

      hr
        display: block;
      h1
        text-align: left
        text-transform: uppercase;
        .hid
          display: inline-block;
      p
        margin-top: 0
      button
        padding: 20px 15px 16px;
        max-width: 155px
      .container
        flex-wrap: wrap;
        padding: 130px 0 60px
    .room-left-side
      left: -5px;
      width 320px
      height 206px

      .slider-room
        button
          width: 56px
        .dots span
          size 7px
          margin: 0 4px
          &.active
            size 9px
        img
          width 320px
          height 206px
    .room-right-side
      margin-left: 20px;
      margin-top: 40px;
      max-width: 280px;
      &:after,
      &:before
        display: none;
      .offers span
        font-size: 16px
        margin-right: 18px;
  .all-what-need
    h2
      text-align: center;
      display: block;
      margin: 70px auto;
      &:before
        margin: 0 auto 35px;
      &:after
        margin: 35px auto
    .left-side
      width: 100%;
      padding: 0 20px;
    .container
      padding 0
    .first-list
      display: none;
    .second-list
      margin-left: 0
      li
        position: relative;
        &:before
          content: ''
          width: 280px;
          position: absolute;
          height: 1px;
          left: 0
          bottom: -20px
          background-color: #bababa;
    .right-side img
      width: 290px;
      height: 225px;
  .other-rooms
    .rooms
      flex-wrap: wrap;

  .comfort
    padding-top: 50px;
    padding-bottom: 60px;
    h2
      margin-bottom: 50px

    .container
      padding: 0 20px;
      flex-wrap: wrap;
      .advantage
          margin-right: 10px;
          margin-left: 0
          p
            width: calc(100% - 80px);
          .icon
            margin-right: 20px
    .right-side
      &:before
        display none
  .all-what-need
    .container
      flex-wrap: wrap;
    .left-side
      order 2
    .right-side
      margin-left: 0;
      order 1
  .h2-hidden
    display: block
  .h2-visible
    display none
  .room
    .initial-screen
      .container.comm
        padding: 20px 15px
        &:after
          width: 30px
        .comment
          width: 667px
  .other-rooms .rooms .room
    margin: 0 0 30px
    hr
      margin: 0 0;
  .room .initial-screen .container.comm,.initial-screen .com-but
    &:before,&:after
      display: none
  .comment
    border: 0
    width: 280px;
    padding: 15px
    height: 472px;
    &:before
      left 0
    h2
      margin: 50px 0 20px;
  .other-rooms
    padding-bottom: 20px
    h2
      text-align: center;
      display: block;
      max-width: 220px;
      margin: 70px auto;
      &:before
        margin: 0 auto 35px;
      &:after
        margin: 35px auto
  .h2-hidden,.hid
    display: block
  .telephone
    background: url(../images/svg/phone-receiver.svg)
    width: 28px;
    height: 28px;
  .header__left-side
    justify-content: space-between;
    width: 100%;
  .h2-visible,
  .vis,.advantages__right-side,
  .advantages h2,
  .logotype span,
  .telephone a,
  .h1-visible,
  .initial-screen .info::before,
  .initial-screen .info::after,
  .initial-screen hr,
  .initial-screen progress,
  .lang
    display: none
  .initial-screen
    p
      margin-top: 280px
    .slider
      position: absolute;
      width: 320px;
      height: 234px;
      left: -5px;
      margin-top: 170px;
      img
        size 100%
    .container
      max-width: 310px;
      margin: 10px
      padding: 120px 0 60px;
      height: max-content
    .info
      margin: 5px;
      text-align: center;
    button
      margin: 30px auto;
    h1
      text-align: center;
      text-transform: lowercase;
      &:first-letter
        text-transform: uppercase;
  .header
    padding: 0 30px 0 0
  .logotype
    width 90px
    height 90px
    &:before
      width 50px
      height 50px
  .container
    max-width: 320px

  .for-who
    position: relative;
    .rect-one
      width 133px
      height 68px
      top: 0
      left: 0;
      .rect-blue
        width: 36px
        height 28px
    .rect-two
      width 195px
      right: -10px;
      bottom: 45px;
      height 68px
      .rect-blue
        width: 98px
        height 23px
    .rect-three
      width: 71px
      position: absolute;
      left: -10px;
      height 67px
    .container
      flex-wrap: wrap;
      padding: 0 20px 90px
      justify-content: center;
    .for-who__right-side
      width: 100%
      order 1
      height: 200px
      margin-bottom: 40px
    .for-who__left-side
      width: 100%
      flex-wrap: wrap;
      order 2
      display: flex
      justify-content: space-between;
      .for-who__block
        max-width: 320px
        padding: 20px;
        &:before
          display none
    h2
      flex-wrap: wrap;
      padding-left: 50px;
      display: inline-block;
      margin: 50px 0 70px
      position: relative;
      .h2-hidden
        display: inline-block;
      &:after
        display none
      &:before
        display: block;
        width: 20px;
        height: 100%
        margin-right: 20px;
        margin-top: 0
        content: '';
        position: absolute;
        left: 15px;
        background: repeating-linear-gradient(45deg,#006faf,#006faf 1px,hsla(0,0%,100%,0) 2px,hsla(0,0%,100%,0) 4px);
  .category-of-room
    position: relative;
    .flex
      flex-wrap: wrap;
      padding: 0
    &__block
      width 320px
      margin-bottom: 30px
      height 220px
      &:first-child
        margin-bottom: 30px
    &__right-side
      .category-of-room__block
        width 320px
        margin-bottom: 30px
        height 220px
        &:first-child
          margin-bottom: 30px
    &__left-side
      .category-of-room__block
        margin-right: 0;
    h2
      padding-left: 50px;
      &:after
        display none
      &:before
        display: block;
        width: 20px;
        height: 88px;
        margin-right: 20px;
        content: '';
        position: absolute;
        left: 15px;
        background: repeating-linear-gradient(45deg,#006faf,#006faf 1px,hsla(0,0%,100%,0) 2px,hsla(0,0%,100%,0) 4px);
  .advantages
    margin-top: 10px;

    .container
      padding: 0 15px
  .advantages__left-side
    width: 100%;
  .advantage
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 40px
    &:last-child
      display: none
    p
      max-width: 200px
  .additional-info .container

    flex-wrap: wrap;
    padding: 50px 20px
    justify-content: center;
    h2
      &:before
        display none
    .additional-info__left-side
      order 2

    .additional-info__right-side
      max-width: 100%
      margin-bottom: 60px
      order 1
  .map .container
    max-width: 100%

  .category-of-room
    &__left-side
      .category-of-room__block
        h3
          text-align center
          left 0
          right 0
          bottom calc( 50% - 24px / 2)
    &__right-side,&__left-side
      .category-of-room__block
        &:hover
          h3
            bottom calc( 50% - 24px / 2)
          p
            opacity 0
            bottom: 0px

    &__block
      &:hover
        img,span
          filter blur(0px)
        a
          &:before
            border 0px solid #fff
