.news-page
  .initial-screen
    .container
      justify-content: center;
      height: auto;
      padding: 180px 0px 150px;
    h1
      position: relative;
      &:before
        position: absolute;
        content: ''
        width: 200px
        height 1px
        background: #000
        left 0
        right 0
        bottom: -30px
        margin: auto;
  &__article
    padding: 0 85px;
    .flex
      flex-wrap: wrap;
      .right-side
        width: calc(100% - 400px - 20px)

    p
      font: 400 1rem/1.875rem PT Sans;
      color: #4e4e4e;
      margin-bottom: 15px
    img
      background: #f7f7f7
      width: 400px
      height 350px
      margin-right: 20px
      margin-bottom: 20px
