footer.footer.container


      
      
  .container.flex.j-c__s-b.pd-85
    .footer__left.flex
      ul.footer__list 
        li.footer__item
          a(href='#').b-line Главная
        li.footer__item
          a(href='#').b-line О компании 
        li.footer__item
          a(href='#').b-line Контакты
      ul.footer__list 
        li.footer__item
          a(href='#').b-line Пункт меню
        li.footer__item
          a(href='#').b-line Пункт меню
        li.footer__item
          a(href='#').b-line Пункт меню
      ul.footer__list 
        li.footer__item
          a(href='#').b-line Партнерам 
        li.footer__item
          a(href='#').b-line Политика конфиденциальности
        li.footer__item
          a(href='#').b-line Новости
    .footer__right 
      ul.footer__list 
        li.footer__item
          a(href='#').b-line Контакты
        li.footer__item
          a(href='#').b-line Контакты
        li.footer__item
          a(href='#').b-line Контакты 
  .footer__bottom.container.flex.j-c__s-b.pd-85
    p 2018 г. Копирование материалов сайта только с письменного разрешения владельца 
    a(href="#") Разработано в 
      span Pixelaria
  
script(src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU")
script(src='js/lib.js')
