include mixins.pug
header.header.container.flex
    .header__left-side.flex
      a(href='index.html').logotype.flex
        span Воздушный 
          br 
          |Экспресс
      .telephone
        a(href='tel:+78005500242') 8 800 550-02-42
    .header__right-side.flex
      .lang
        span.active RU
        span EN
      button.button.button--pink Забронировать номер
      button.menu
        p МЕНЮ
        span


    .main-menu
      nav.navigation
        ul.menu-list
          li.list-item.active
            a(href='#') Главная
          li.list-item
            a(href='price-list.html') Бронирование
          li.list-item
            a(href='terminal.html') Отделения
          li.list-item
            a(href='category.html') Номера
          li.list-item
            a(href='contacts.html') Контакты
      nav.navigation-bottom
        ul.menu-list.flex
          li.list-item.active
            a(href='about.html') Об отеле
          li.list-item
            a(href='#') Акции
          li.list-item
            a(href='#') Правила
          li.list-item
            a(href='#') Цены
          li.list-item
            a(href='news-category.html') Новости
      
