doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='ya-title=#e04592, ya-dock=fade, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='robots' content='none')
    link(rel='stylesheet' href='css/style.css')
    title aero.express
  body
    include inc/header.pug
    main.news-category.container
        .initial-screen.flex
          .container.flex
            h1 ОБ ОТЕЛЕ
        .news.container
          .speedbar
            a(href='/') Главная / 
            span Новости
        .container.flex
          .about-text
            .right--side
              img(src="" alt='')
              p «Воздушный экспресс» – сеть комфортных отелей для гостей одного из самых современных аэропортов мира - «Шереметьево». Отели «Воздушный экспресс» расположены непосредственно в терминалах «Аэроэкспресс» и терминале «Е», что создает дополнительное удобство размещения для всех пассажиров «Шереметьево». 
              p Один отель находится на 5 этаже 
                a(href='index.html') терминала «Аэроэкспресс»
                |, в шаговой доступности к терминалам «D», «F» и «E» и поезду «Аэроэкспресс», главной транспортной железнодорожной артерией, соединяющей аэропорт и центр Москвы. 
              p Второй отель «Воздушный экспресс» расположен 
                a(href='index.html') в транзитной зоне терминала «E»
                |, за паспортным контролем. Расположение отеля в терминале «Е» является единственным и уникальным в России. Отели позволяют пассажирам всех авиакомпаний отдохнуть перед полетом, не выходя за пределы аэропорта!
            .left--side
              img(src="" alt='')
              p Отели «Воздушный экспресс» предлагают 112 комфортных номеров, включая просторные и комфортабельные номера первого и бизнес- класса, выполненные по индивидуальному дизайну. Также к услугам гостей: бесплатный Wi-Fi, 24-часовое обслуживание в номерах, помощь в регистрации на рейс, информация о рейсах, кафе, ресторанах, банках, магазинах аэропорта и вызов такси.
              p Быстрое и качественное обслуживание наших гостей, почасовая оплата проживания, уникальное расположение, безопасность и высокопрофессиональный сервис отелей «Воздушный экспресс» находятся вне конкуренции в зоне аэропорта «Шереметьево». Станьте нашим гостем сегодня!

        include section/section-work.pug
        .map
          .container
              
        
    include inc/footer.pug        
script
  include scripts/slider.js
