doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='ya-title=#e04592, ya-dock=fade, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='robots' content='none')
    link(rel='stylesheet' href='css/style.css')
    title aero.express
  body
    include inc/header.pug
    main.news-category.container
        .initial-screen.flex
          .container.flex
            h1 НАШИ КОНТАКТЫ
        .news.container
          .speedbar
            a(href='/') Главная / 
            span Контакты
        .container.flex
          .contacts.flex
            .right--side
              ul.contacts__list
                li.contacts-item.flex
                  .contacts-item__icon
                  .contacts-item__info
                    h6 Адреса отделений
                    p I. Москва, Аэропорт Шереметьево, 5-й этаж терминала «Аэроэкспресс»
                    p II. Москва,  Аэропорта Шереметьево,  транзитная зона терминала «Е»
                            
                li.contacts-item.flex
                  .contacts-item__icon
                  .contacts-item__info
                    h6 Телефоны, e-mail 
                    p 8 800 550-02-42 (звонок по России бесплатный)
                    p 8 495 788-35-02 (телефон в Москве)
                    p
                      a(href="mail:bron@v-exp.ru") bron@v-exp.ru  
                            
                li.contacts-item.flex
                  .contacts-item__icon
                  .contacts-item__info
                    h6 Режим работы 
                    p Отделение в терминале «Аэроэкспресс»: круглосуточно
                    p Отделение в терминале «Е»: круглосуточно
                            
            .left--side
              .map
            
            .contacts-map
              .flex.flex-left
                .contacts-map__info.advantages__right-side
                  h3 Как добраться до отеля в терминале «Аэроэкспресс»?
                  p 
                    strong Из Терминала В: 
                    |из зоны прилета/вылета по стрелкам на желтых информационных указателях «Аэроэкспресс. Aeroexpress» до шатла «Шереметьево 1 - Шереметьево2» , далее по стрелкам на желтых информационных указателях «Аэроэкспресс. Aeroexpress» до терминала «Аэроэкспресс», далее согласно информационной таблички: «5 этаж. Капсульный отель. Почасовая оплата» (лифт, либо эскалатор и лестница).
                  p 
                    strong Из терминалов E, F и D: 
                    |из зоны прилета/вылета по стрелкам на желтых информационных указателях «Аэроэкспресс. Aeroexpress» до терминала «Аэроэкспресс», далее согласно белой информационной таблички: «5 этаж. Капсульный отель. Почасовая оплата» (лифт, либо эскалатор и лестница).
                  hr
              .flex.flex-right
                .contacts-map__info.advantages__right-side
                  h3 Как добраться до отеля в терминале «Е» (после паспортного контроля)?
                  p 
                    strong В терминале E мы находимся рядом с выходом на посадку №36.
                  p 
                    strong Из терминала D: 
                    |по стрелкам на желтых информационных указателях «Терминал Е и F», далее согласно белой информационной таблички: «3 этаж. Капсульный отель. Почасовая оплата»
                  
                  p 
                    strong Из терминала F: 
                    |по стрелкам на желтых информационных указателях «Терминал Е и D», далее согласно белой информационной таблички: «3 этаж. Капсульный отель. Почасовая оплата»
                  hr
                

        
    include inc/footer.pug        
script
  include scripts/slider.js
