doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='ya-title=#e04592, ya-dock=fade, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='robots' content='none')
    link(rel='stylesheet' href='css/style.css')
    title aero.express
  body
    include inc/header.pug
    main.news-page.container
        .initial-screen.flex
          .container.flex
            h1 Запуск нового сайта отеля
        .news.container
          .speedbar
            a(href='/') Главная / 
            span Новости
        article.news-page__article.container
          .flex
            img(src='' alt='')
            .right-side
              p Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be out tomorrow. We’re counting on you to help us find bugs and Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be ou
              p Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be out tomorrow. We’re counting on you to help us find bugs and 
            p Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be out tomorrow. We’re counting on you to help us find bugs and Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be ou
            p Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be out tomorrow. We’re counting on you to help us find bugs and 
            p Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be out tomorrow. We’re counting on you to help us find bugs and Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be ou
            p Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be out tomorrow. We’re counting on you to help us find bugs and 

            p Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be out tomorrow. We’re counting on you to help us find bugs and Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be ou
            p Many thanks to all the people who help our project financially. Donations are up again, you were more than 500 to send us funds in October and we now have 129 patrons on Patreon. The BETA release for Linux Mint 19.1 will be out tomorrow. We’re counting on you to help us find bugs and 


            
                    
        .map
          .container
              
        
    include inc/footer.pug        
script
  include scripts/slider.js
