doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport' content='ya-title=#e04592, ya-dock=fade, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='robots' content='none')
    link(rel='stylesheet' href='css/style.css')
    title aero.express
  body
    include inc/header.pug
    main.news-category.container
        .initial-screen.flex
          .container.flex
            h1 Бронирование номера
            

        .order-form.container.flex
          .left-side 
            p Если Вы не можете самостоятельно определиться с подбором отеля свяжитесь с нами по электронной почте bron@v-exp.ru или телефону 8 800 550-02-42. 
          .right-side 
            p.warnning
              b Внимание! 
              |Терминал Аэроэкспресс расположен в свободной зоне, до паспортного контроля. Вам необходим Российский паспорт или Российская виза.  
            h6 Защита персональных данных
            p Для оформления бронирования вы предоставляете следующие персональные данные: фамилию, имя, отчество, дату рождения, адрес электронной почты, номер телефона. Отель "Воздушный Экспресс" не передает Ваши данные третьим сторонам и не использует их в иных целях. Читать полностью Соглашаясь с настоящими условиями, Вы даете свое согласие на сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование своих персональных данных. Указанные персональные данные содержатся в подтверждении бронирования и отчетной бухгалтерской документации.
            h6 Ответственность
            p Оформляя бронирование, Вы соглашаетесь с Правилами бронирования и Правилами проживания. В случае несогласия с какими-либо положениями данного документа, рекомендуем отказаться от дальнейших действий по оформлению бронирования. Оформление бронирование означает принятие условий Правил бронирования и проживания
            h6 Получение документов
            p Обращаем Ваше внимание, что для получения физическим лицом счета-фактуры, ему необходимо отдать администратору оригинал Доверенности (ст. 168 НК РФ п. 7.)
        .map#map
          .container
              
        
    include inc/footer.pug        
