$blue = #27a4eb
$blue-light = #76c4f0
$repeat = repeating-linear-gradient(45deg, #006faf,#006faf 1px, #fff0 2px,#fff0 4px)
@import '../fonts/fonts.css'
@import 'inc/reset.styl'

.container
  max-width 1280px
  width 100%
  margin auto
.flex
  display flex
.wrap
  flex-wrap wrap
@import 'inc/header.styl'
@import 'inc/initial-screen.styl'
@import 'inc/for-who.styl'
@import 'inc/category-of-room.styl'
@import 'inc/advantages.styl'
@import 'inc/additional-info.styl'
@import 'inc/room.styl'
@import 'inc/category.styl'
@import 'inc/news-category.styl'
@import 'inc/news-page.styl'
@import 'inc/price-list.styl'
@import 'inc/footer.styl'
@import 'inc/about.styl'
@import 'inc/contacts.styl'
@import 'inc/terminal.styl'
@import 'inc/order-form.styl'


.button
  color #ffffff
  font-family "PT Sans"
  font-size 16px
  font-weight 400
  text-transform uppercase
  padding 16px 30px 17px
  height: 100%
  transition .55s
  max-height 50px
  display flex
  align-items center
  &.button--blue
    background-color #27a4eb
    &:hover
      background-color: #76c4f0;
  &.button--pink
    background-color #f07679
    &:hover
      background-color #DF575A


.map
  height 400px

hr
  max-width: 1110px
  margin:  0 auto;
  border 0
  height 10px
  background-image linear-gradient(180deg, #dbdbdb 0%, rgba(219, 219, 219, 0) 100%, rgba(219, 219, 219, 0) 100%)
  opacity 0.3
.h2-hidden,.hid
  display none
@import 'inc/adaptive.styl'
